<div class="enhavo" data-ng-init="init()">
<md-subheader class="md-no-sticky">Adresaro</md-subheader>
<label>Serĉi:
  <input class="form-control" ng-model="filtrilo">
</label>
<md-list class="fixedRows">
  <md-list-item ng-repeat="persono in anoj | filter: filtrilo as query"
                ng-click="montriDetalojn($event, persono)"
                class="md-3-line col-md-6" >
    <img alt="{{ persono.name }}" src="content/img/profilo.png" class="md-avatar" />
     <div class="md-list-item-text" layout="column">
        <h3>{{persono.titolo}} {{persono.personanomo}} <b>{{persono.familianomo}}</b></h3>
        <h4> {{persono.urbo}} - {{landoj[persono.idLando].radikoEo}}</h4>
        <h4>{{laborgrupoj[persono.idGrupo].nomo}}</h4>
     </div>
  </md-list-item>
</md-list>
</div>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="detaloj">
    <md-dialog layout-padding>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            Vidante detalojn por: {{elektitaAno.titolo}}
            {{elektitaAno.personanomo}} {{elektitaAno.familianomo}} &nbsp&nbsp
          </h2>
          <span flex></span>
          <a href="" ng-click="cancel()">
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </a>
        </div>
      </md-toolbar>
      <div>
        <span>
          <h3>Bazaj informoj:</h3>
          <p ng-if="elektitaAno.retposxto">
            <b>Retadreso:</b> {{elektitaAno.retposxto}}
          </p>
          <p ng-if="elektitaAno.telhejmo">
            <b>Hejmtelefono:</b> +{{landInformoj.callingCodes[0]}} {{elektitaAno.telhejmo}}
          </p>
          <p ng-if="elektitaAno.teloficejo">
            <b>Oficejtelefono:</b> +{{landInformoj.callingCodes[0]}} {{elektitaAno.teloficejo}}
          </p>
          <p ng-if="elektitaAno.telportebla">
            <b>Poŝtelefono:</b> +{{landInformoj.callingCodes[0]}} {{elektitaAno.telportebla}}
          </p>
          <p ng-if="elektitaAno.tttpagxo">
            <b>TTT-paĝo:</b>
            <a href="{{elektitaAno.tttpagxo}}" target="_blank"  class="link">
                {{elektitaAno.tttpagxo}}
            </a>
          </p>
          <p>
            <b>Adreso:</b> {{elektitaAno.adreso}}
          </p>
          <p>
            <b>Poŝtkodo:</b> {{elektitaAno.posxtkodo}}
          </p>
          <p>
            <b>Urbo:</b> {{elektitaAno.urbo}}
          </p>

          <p>
            <b>Lando:</b> {{landoj[elektitaAno.idLando].radikoEo}}
            <img src="{{landInformoj.flag}}" alt="flago" width="20"></img>
          </p>
        </span>
      </div>
    </md-dialog>
  </div>
