<div data-ng-init="init()">
  <div id="mySidenav" class="sidenav">
    <div class="nav-logoo">
       <img src="content/img/logoo_blanka.png" alt="logoo"></img>
       <p style="color:white; font-size: 10px; padding-left: 40px;">
         En oficialaj rilatoj kun UN kaj UNESKO
       </p>
    </div>
    <a class="closebtn" onclick="closeNav()"> &times; </a>
    <span ng-repeat="menuero in menueroj" class="menuero">
      <a href="{{menuero.ligilo}}"
         ng-bind-html="menuero.nomo"
         ng-click="cxuFermi()">
      </a>
      <i class="fa fa-question-circle"
         title="{{menuero.klarigo}}"></i>
    </span>
  </span>
  </div>

  <div class="menubar">
    <span class="profilo" ng-click="elsaluti()">
      <i class="fa fa-power-off" aria-hidden="true"></i> Elsaluti
    </span>

    <span class="profilo">
      <a href="#!/profilo">
        <i class="fa fa-user" aria-hidden="true"></i>
        Profilo
      </a>
    </span>

    <span class="menuo" onclick="openNav()">
      &#9776; Menuo
    </span>
  </div>
</div>

<div class="alert alert-warning myAlert-bottom" role="alert" ng-show="!membro">
  Vi ne remembriĝis en UEA, do vi ne havos aliron al ĉiuj funkcioj
  <a ng-href="{{url_aligxilo}}" target="_blank" class="alert-link">
    Remembriĝu nun!!
  </a>
  (se vi remembriĝis antaŭ malmultaj tagoj, bonvole atendu iom)
</div>
