<div data-ng-init="init()">
  <div id="mySidenav" class="sidenav">
    <div class="nav-logoo">
       <img src="content/img/logoo_blanka.png" alt="logoo"></img>
       <p style="color:white; font-size: 10px; padding-left: 40px;">
         En oficialaj rilatoj kun UN kaj UNESKO
       </p>
    </div>
    <a class="closebtn" onclick="closeNav()"> &times; </a>
    <span ng-repeat="menuero in menueroj">
      <a href="{{menuero.ligilo}}"
         class="menuero"
         ng-bind-html="menuero.nomo"
         ng-mouseover="menuero.klarigi = true"
         ng-mouseout="menuero.klarigi = false"></a>

      <div class="klarigo"
           ng-if="menuero.klarigo"
           ng-show = "menuero.klarigi"
           ng-attr-id="{{menuero.id}}">
           <b><i class="fa fa-question-circle"></i> Klarigeto: </b>
           {{menuero.klarigo}}
      </div>
    </span>
  </span>
  </div>

  <div class="menubar">

    <span class="profilo" ng-click="elsaluti()">
      <i class="fa fa-power-off" aria-hidden="true"></i> Elsaluti
    </span>

    <span class="profilo">
      <a href="#!/profilo">
        <i class="fa fa-user" aria-hidden="true"></i>
        Profilo
      </a>
    </span>

    <span class="menuo" onclick="openNav()">
      &#9776; Menuo
    </span>
  </div>
</div>
